* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  height: 100%;
}

.orange {
  background-color: #FDA214;
}

.orange:hover {
  opacity: 0.75;
}

.blue-01 {
  background-color: #BCCED9;
}

.blue-02 {
  background-color: #7191A5;
}

.blue-03 {
  background-color: #6395B8;
}

.blue-04 {
  background-color: #304859;
}

.blue-05 {
  background-color: #152938;
}

.gray-01 {
  background-color: #FCFCFC;
}

.gray-02 {
  background-color: #F2F2F2;
}

.gray-02:hover {
  background-color: #6395B8;
  color: white;
}

.button {
  padding: 10px 15px;
  border-radius: 30px;
  display: inline-block;
  margin: 0px 5px;
  cursor: pointer;
}

.white-text {
  color: white;
}

.blue-text {}

.App {
  justify-content: center;
}

.headingStyle {
  display: flex;
  justify-content: space-around;
  margin: 3em 0em;
}

.tileStyle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;

  justify-content: center;
  align-items: center;
}

.iconStyle {
  font-size: 2.5rem;
  color: white;
}

.gridStyle {
  display: grid;
  width: 30%;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-gap: 10px;
  justify-items: center;
  margin: 50px auto;
  justify-content: space-around;
}

/* grid css */
div .blue-04:hover {
  background-color: #6395B8;
}

/* infobox */
div .infobox {
  background-color: #DFE7EC;
  display: inline-flex;
  justify-content: space-between;
  width: 150px;
  margin: 5px 10px;
  border-radius: 5px;
}


div .infobox span {
  display: inline-block;
  padding: 15px 10px;
}

/* game details */
.game-details {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}